body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/brian-patrick.jpg);
    background-size: cover;
    background-color: rgb(220, 220, 220);
    padding: 20px;
    margin-top: 300px;
}

/* -- Business Card styles -- */

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 40px;
    width: 550px;
    height: 250px;
    border: rgb(220, 220, 220) 2px solid;
    border-radius: 1%;
    background-color: rgb(0, 0, 0);
    background-image: url(./Images/hans-isaacson-mSBFTjC7uPg-unsplash.jpg);
    background-size: cover;
    box-shadow: #000000 0px 0px 30px 10px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 1%;

    object-fit: cover;}

/* -- Business Card Text styles -- */

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.8rem;
    color: white;
}

.card-content .name-title h1 {
    font-size: 1.8em;
    margin: 0;
}

.contact-info {
    display: block;
    font-size: 1.0em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* -- Anchor styles -- */

a:hover {
    color: rgb(242, 255, 0) !important;
    text-decoration: none;
}

a {
    color: #99caff;
    text-decoration: none;
}

a:visited {
    color: #99caff;
}
